@charset 'UTF-8';

.piece {
  width: 44px;
  height: 48px;
}

.歩[player='white'] {
  background-image: url('images/fuhyo.svg');
  transform: rotateZ(180deg);
}
.歩[player='white'].promoted {
  background-image: url('images/tokin.svg');
  transform: rotateZ(180deg);
}

.歩[player='black'] {
  background-image: url('images/fuhyo.svg');
}
.歩[player='black'].promoted {
  background-image: url('images/tokin.svg');
}

.香[player='white'] {
  background-image: url('images/kyosha.svg');
  transform: rotateZ(180deg);
}
.香[player='white'].promoted {
  background-image: url('images/narikyo.svg');
  transform: rotateZ(180deg);
}

.香[player='black'] {
  background-image: url('images/kyosha.svg');
}
.香[player='black'].promoted {
  background-image: url('images/narikyo.svg');
}

.桂[player='white'] {
  background-image: url('images/keima.svg');
  transform: rotateZ(180deg);
}
.桂[player='white'].promoted {
  background-image: url('images/narikei.svg');
  transform: rotateZ(180deg);
}

.桂[player='black'] {
  background-image: url('images/keima.svg');
}
.桂[player='black'].promoted {
  background-image: url('images/narikei.svg');
}

.銀[player='white'] {
  background-image: url('images/ginsho.svg');
  transform: rotateZ(180deg);
}
.銀[player='white'].promoted {
  background-image: url('images/narigin.svg');
  transform: rotateZ(180deg);
}

.銀[player='black'] {
  background-image: url('images/ginsho.svg');
}
.銀[player='black'].promoted {
  background-image: url('images/narigin.svg');
}

.金[player='white'] {
  background-image: url('images/kinsho.svg');
  transform: rotateZ(180deg);
}
.金[player='black'] {
  background-image: url('images/kinsho.svg');
}

.角[player='white'] {
  background-image: url('images/kakugyo.svg');
  transform: rotateZ(180deg);
}
.角[player='white'].promoted {
  background-image: url('images/ryuma.svg');
  transform: rotateZ(180deg);
}

.角[player='black'] {
  background-image: url('images/kakugyo.svg');
}
.角[player='black'].promoted {
  background-image: url('images/ryuma.svg');
}

.飛[player='white'] {
  background-image: url('images/hisha.svg');
  transform: rotateZ(180deg);
}
.飛[player='white'].promoted {
  background-image: url('images/ryuo.svg');
  transform: rotateZ(180deg);
}

.飛[player='black'] {
  background-image: url('images/hisha.svg');
}
.飛[player='black'].promoted {
  background-image: url('images/ryuo.svg');
}

.玉[player='white'] {
  background-image: url('images/gyokusho.svg');
  transform: rotateZ(180deg);
}

.玉[player='black'] {
  background-image: url('images/gyokusho.svg');
}

